body {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  background-color: black;
  min-height: 100px;
  align-items: center;
}

.tab-button {
  margin: 69px 30px 0px 30px;
  padding: 5px 10px;
  width: 95px;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.default-tab-button {
  background-color: #fff;
  color: #000;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.tab-button:focus {
  background-color: #fff;
  color: #000;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.event {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.event_image {
  max-width: 100%;
  height: auto;
}

.event_title {
  font-weight: 600;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  /* margin: 25px; */
}


.rounded-bg {
  background-color: #FFFFFF;
  border-radius: 106%;
  padding: 7px;
  width: 22px;
  height: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -25px;
  left: 270px;
  box-shadow:
  0.4px 0.7px 2.8px rgba(0, 0, 0, 0.077),
  1.3px 2.2px 9.4px rgba(0, 0, 0, 0.113),
  6px 10px 42px rgba(0, 0, 0, 0.19);
  margin-bottom: -20px;
}


.heart-image {
  max-width: 20px;
}

.interested-button {
  width: 100px;
  background: white;
  border: 3px solid rgb(54, 144, 173);
  border-radius: 4px;
  padding: 6px;
  color: rgb(54, 144, 173);
}

.going-button {
  width: 100px;
  background: rgb(54, 144, 173);
  border: 3px solid rgb(54, 144, 173);
  border-radius: 4px;
  padding: 6px;
  color: white;
}

.account__container {
  display: flex;
  left: 850px;
  position: relative;
}

.my-account__link {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.my-account__link:hover {
  text-decoration: underline;
}

.arrow-right__icon {
  width: 20px;
  margin-left: 7px;
}

.arrow-left__icon {
  width: 20px;
}

.container-account {
  display: flex;
  position: relative;
  left: 14px;
}

.button-container {
  display: flex;
  margin-top: 10px; 
  gap: 20px;
}

.event-card {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tabs {
  display: flex;
}

#calendar-title {
  /* Estilos para el título del calendario */
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #020202;
}

#calendar-body {
  /* Estilos para el cuerpo del calendario */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-bottom: 15px;
}

.calendar-cell {
  border: 1px solid #aeaeae;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: #020202;
  width: 146px;
  height: 142px;
}

.calendar-container {
  margin-top: 20px;
}

.calendar-content {
  display: block;
  margin-top: 30px;
}

.btns-container{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
  gap: 30px;
}

.calendar-button {
  border: 2px solid black;
  border-radius: 6px;
  width: 120px;
  height: 30px;
  background-color: black;
  color: white;
}
